/node_modules

/dist
/build

/.vscode
/.idea
/*.sublime-project
/*.sublime-workspace

.DS_Store
Thumbs.db

package-lock.json
pnpm-lock.yaml
yarn.lock

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.babelrc
babel.config.js

/webpack.config.js
/webpack.prod.js
/webpack.dev.js

/jest.config.js
/jest.setup.js
